<div class="card mt-3">
  <div class="card-header">
    <%= link_to "Post ##{post.id}", user_post_path(post.author_id, post.id) %>
  </div>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.text %></p>
    <p class="card-text ms-auto"><small class="text-muted">Comments: <%= post.comments_counter %> </small> <small class="text-muted">Likes: <%= post.likes_counter %></small></p>
  </div>
</div>